@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;

    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 40px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.container h1 {
    padding: 40px 0;
}

.container img#icon {
    width: 50px;
    margin-right: 15px;
}

.container div.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}